name: Run test & build on PRs
on:
  pull_request:
    types:
      - opened
      - reopened
      - edited
      - synchronize
jobs:
  build:
    name: Compile and test PRs
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v4
        with:
          persist-credentials: false
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # ratchet:actions/setup-java@v4
        with:
          java-version: "25"
          distribution: "temurin"
          cache: "gradle"
      - uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1 # ratchet:gradle/gradle-build-action@v3
      - name: Test & build
        run: ./gradlew test installDist
